.App {
  display: flex;
  flex-direction: column;
}

.header {
  padding: 1rem 2rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(229, 229, 229, 1) ;
}
.header h1 { 
  margin-left: 10px;
  color: black;
  text-decoration-line: none;
}
.header button {
  margin-right: 10px;
}
.header a {
  text-decoration: none;;
}
.menu {
  display:flex;
  flex-wrap: wrap;
}

li {
  list-style: none;
}

.menu li {
  color: black;
  flex: 20% 0 0;
  display: inline-block;
  
  width: 130px;
  padding:10px;
  
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  border: none;
  border-radius: 4px;
}
.menu a {
  text-decoration: none;
}
.menu li :hover {
  color: rgb(2007,47,38);
}

.membership {
  margin-right: 20px;
}
.membership button {
  margin: 3px;
  padding: 0.5rem 1rem;

  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  display: inline-block;
  width: auto;

  border: none;
  border-radius: 4px;
}

.footer {
  padding: 3rem;
  background: rgb(32, 32, 32);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer span {
  color: #fff
}

.slider {
  position:relative;
  height: 100vh;
  display: flex;
  justify-content:center;
  align-items: center;
}

.slideimage {
  width: 100%;
  height: 600px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color:#000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

/* 컨텐츠 상세 페이지 */
.box_basic {
  position: relative;
  margin-left: 50px;
  padding: 30px 0 60px 0;
  display: block;
}

.inner_content {
  display: table;
  max-width: 60%;
  margin-left: 450px;
  margin-top: 0px;
  padding-top: 0px;
}

.list_content {
  display: table-row;
  line-height: 27px;
  margin-bottom: 15px;
}
dl {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  list-style: none;
}
dd {
  margin-inline-start: 40px;
}

.info_poster {
  /* float: left; */
  width: 3rem;
  height: 3rem;
  margin-right: 40px;
}
.info_poster img {
  width:400px;
  height: 500px;
}

.content_detail {
  margin-top: 200px;
  margin-left: 80px;
  margin-bottom: 150px;
}
.word_content {
  margin-left: 30px;
  margin-bottom: 10px;
}
.word_content dt {
  font: 18px bold;
}

/* 결과 페이지 */
.box_list {

}
.recommended_list img{
  width: 280px;
  height: 420px;
} 
.recommended_list a :hover{
  transform: scale(1.08 );
  transition: transform 1s;
  filter: brightness(120%);
}

.recommendation {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px 300px;
}