nav {
    overflow: hidden;
    border: 1px solid red;
}

nav > div{
    text-align: center;
    margin-top: 20px;
    float: left;
    width: 10%;

    /* 세로길이 설정 */
    height: 70px;
    line-height: 45px;
}